/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&IBM+Plex+Serif&family=Source+Serif+Pro&family=Source+Code+Pro&IBM+Plex+Mono&display=swap';

@import 'https://kit.fontawesome.com/d16123e5b5.css';

@font-face {
    font-family: JuliaMono-Light;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2");
}

$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "JuliaMono-Light", "IBM Plex Mono", monospace;
$font-family-serif: "Source Serif Pro", "IBM Plex Serif", serif;

$presentation-font-size-root: 45px;

// headings
$presentation-heading-font: "Source Serif Pro", "IBM Plex Serif", serif !important;
$presentation-heading-color: #b31b1b !important;

// colors
$body-color: #222222;

/*-- scss:rules --*/

details>summary {
    font-size: 0.75em;
}
 
h2 {
    border-bottom: 2px solid #b31b1b;
    margin-bottom: 0.5em !important;
}

h3 {
    margin-bottom: 10px !important;
}

.small {
    font-size: 0.75em;
}
  
.author {
    font-size: 0.9em;
    color: #073949;
    letter-spacing: 0.025em;
    padding-bottom: 0.02em;
    display: block;
}

#title-slide .date {
    font-size: 1.5em;
    color: #222222;
    display: inline;
    font-variant: small-caps;
    text-align: center;
    width: 48%;
    float: right;
    padding-top: 0em;
    margin-top: 0em;
}

#title-slide .subtitle {
    font-size: 1.5em;
    color: #222222;
    display: inline;
    font-variant: small-caps;
    text-align: center;
    width: 48%;
    float: left;
    padding-top: 0em;
    margin-top: 0em;
}

.footer{
    font-size: 0.5em !important;
}

#TOC a {
    font-size: 1.2em;
}

#TOC ul {
    line-height: 2em;
    font-size: 40px;
}

ol ol {
    list-style-type: lower-roman;
}

ul ul {
    list-style-type: square;
}

a {
    font-color: #006699;
    text-decoration: none;
}

.reveal p {
    margin-top: 1em;
}

.reveal p {
    margin-bottom: 1em;
}

.reveal .quote {
    color: #555555;
    font-size: 0.9em;
}

.reveal .quote blockquote {
    border: none;
    margin: 2px 1em;
    padding: 0px 1em;
    font-style: italic;
}


.reveal .quote .cite {
    text-align: left;
    font-variant: small-caps;
    border-left: 0;
}

.h3 {
    margin-top: 1em;
}

strong {color: #EF4035;}

.slide-number {
    font-size: 0.5em !important;
    color: #073949 !important;
}

.reveal th, td, table {
    padding: 5px;
    border: 2px solid black !important;
}

.reveal table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.reveal tr:nth-child(even){
    background-color: #f7f7f7;
}

.reveal th {
    color: #EF4035;
    font-weight: bold;
    font-size: 0.9em;
}

.reveal td {
    font-size: 0.9em;
}

.reveal figcaption {
    text-align: center;
    font-style: italic;
}

.cell-output {
    margin-left: auto;
    margin-right: auto;
}

.quarto-figure {
    margin-bottom: 0;
}

.reveal p.caption {
    display: none;
}

.reveal .caption p {
    font-size: 0.7em;
    color: #222222;
    font-style: italic;
    font-family: $font-family-serif;
    padding-top: 1px;
    margin-top: 0;
    display: block;
    text-align: center;
}

.reveal figcaption {
    display: none;
}

.small-math .math.display {
    font-size: 90% !important;
}
  
.math.display .MathJax  {
    font-size: 110% !important;
}

pre .sourceCode {
    font-size: 1.3em;
}