/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&IBM+Plex+Serif&family=Source+Serif+Pro&family=Source+Code+Pro&IBM+Plex+Mono&display=swap';

@import 'https://kit.fontawesome.com/d16123e5b5.css';

$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-family-monospace: "Source Code Pro", "IBM Plex Mono", monospace;
$font-family-serif: "Source Serif Pro", "IBM Plex Serif", serif;

$headings-font-family: $font-family-serif;


// Bootstrap inputs

$code-block-bg: #e7e7e7;
$code-bg: #e7e7e7;

/*-- scss:rules --*/

.cell-output pre {
  background: #d7d7d7;
}

.course-details ul {
    list-style: none;
    text-indent: -0.7rem;
    padding-left: 1.4rem;
  }

  .tools-wide {
    padding-top: 0.5em;
    margin-left: auto;
    margin-right:auto;
 
  }
  
.sidebar {
 padding-right: 1.5em;
}

figcaption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}