syllabus/_cache
syllabus/*.bib
syllabus/*.pdf
syllabus/*.log
syllabus/*.csl
syllabus/*.tex
syllabus/*.aux
syllabus/*.out
syllabus/*.*latexmk
syllabus/*.fls
syllabus/*.html
syllabus/Manifest.toml
.DS_Store
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

website/_site/
.quarto/

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# svg
svg-inkscape/

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# titletoc
*.ptc

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# xwatermark package
*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib

*.tpl
website/assignments/*/*.tex
assignments/hw3-solutions/config
assignments/hw3-solutions/description
assignments/hw3-solutions/HEAD
assignments/hw3-solutions/packed-refs
assignments/hw3-solutions/hooks/applypatch-msg.sample
assignments/hw3-solutions/hooks/commit-msg.sample
assignments/hw3-solutions/hooks/fsmonitor-watchman.sample
assignments/hw3-solutions/hooks/post-update.sample
assignments/hw3-solutions/hooks/pre-applypatch.sample
assignments/hw3-solutions/hooks/pre-commit.sample
assignments/hw3-solutions/hooks/pre-merge-commit.sample
assignments/hw3-solutions/hooks/pre-push.sample
assignments/hw3-solutions/hooks/pre-rebase.sample
assignments/hw3-solutions/hooks/pre-receive.sample
assignments/hw3-solutions/hooks/prepare-commit-msg.sample
assignments/hw3-solutions/hooks/push-to-checkout.sample
assignments/hw3-solutions/hooks/update.sample
assignments/hw3-solutions/info/exclude
assignments/hw3-solutions/objects/pack/pack-b12c4e1566dd21ff9f15581b6d82bea2dbd66044.pack

/.luarc.json
website/_site/agenda.html
website/_site/examples.html
website/_site/search.json
website/_site/sitemap.xml
website/_site/assignments/hw0.html
website/_site/assignments/workflow.html
website/_site/computing/tutorials/turing-mcmc/tutorial.html
website/_site/computing/tutorials/turing-mcmc/tutorial_files/figure-html/fig-chains-regression-output-1.svg
website/_site/computing/tutorials/turing-mcmc/tutorial_files/figure-html/fig-prediction-regression-output-1.svg
website/_site/computing/tutorials/turing-mcmc/tutorial_files/figure-html/fig-residuals-regression-output-1.svg
website/_site/computing/tutorials/turing-mcmc/tutorial_files/figure-html/fig-scatter-regression-output-1.svg
website/_site/policies/communications.html
website/_site/tutorials/julia-basics.html
website/_site/tutorials/julia-plots.html
website/_site/tutorials/probability-stats.html
website/_site/tutorials/using-JuMP.html
