[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4750/hw01.git
	branch = Fall24
[submodule "hw/hw02"]
	branch = Fall24
	path = hw/hw02
	url = https://github.com/BEE4750/hw02.git
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/BEE4750/lab01
	branch = Fall24
