syllabus/_cache
syllabus/*.bib
syllabus/*.pdf
syllabus/*.log
syllabus/*.csl
syllabus/*.tex
syllabus/*.aux
syllabus/*.out
syllabus/*.*latexmk
syllabus/*.fls
syllabus/*.html
syllabus/Manifest.toml
.DS_Store