[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4750/hw01.git
	branch = Fall24
[submodule "hw/hw02"]
	branch = Fall24
	path = hw/hw02
	url = https://github.com/BEE4750/hw02.git
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/BEE4750/lab01
	branch = Fall24
[submodule "hw/hw03"]
	path = hw/hw03
	url = https://github.com/BEE4750/hw03
	branch = Fall24
[submodule "hw/hw04"]
	path = hw/hw04
	url = https://github.com/BEE4750/hw04	
	branch = Fall24
[submodule "labs/lab02"]
	path = labs/lab02
	url = https://github.com/BEE4750/lab02
	branch = Fall24
[submodule "labs/lab03"]
	path = labs/lab03
	url = https://github.com/BEE4750/lab03
	branch = Fall24
