[submodule "hw/hw01"]
	path = hw/hw01
	url = https://github.com/BEE4750/hw01.git
[submodule "labs/lab01"]
	path = labs/lab01
	url = https://github.com/BEE4750/lab01.git
[submodule "hw/hw02"]
	path = hw/hw02
	url = https://github.com/BEE4750/hw02.git
[submodule "hw/hw03"]
	path = hw/hw03
	url = https://github.com/BEE4750/hw03.git
