@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Lato:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html, body {
    font-family: 'Lato', serif;
}

h1 { color: #222222; }
h1, h2, h3 {
    font-family: 'Noto Sans';
}
.franklin-content li > p {
    padding: 0;
    margin: 0;
}

h2 { color: #222222; }

.sidebar h2 {
    color: #f7f7f7;
    margin-top: 0;
    font-family: "Lato";
    font-size: 1.25rem;
}

.page-foot img.github-logo {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: -2px;
}

.page-foot {
    margin-bottom: 0;
}

.banner {
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
  }

.banner h1 {
    color: #b31b1b;
    text-align: center;
    font-size: 2rem;
    border-bottom: none;
}

.banner h2 {
    color: #b31b1b;
    text-align: center;
    font-size: 1.75em;
    border-bottom: none;
}

.franklin-content .colbox-red {
    background-color: #f7f7f7;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid #b31b1b;
}

td,th {
    text-align: center;
}

pre {
	position: relative;
	/* padding: 30px; */
}

.copy-button {
	cursor: pointer;
	border: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 6px 10px 10px;
	color: #795548;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active {
	outline: 0;
	background-color: #eee9e6;
}

.no-number .katex-display::after {
    counter-increment: nothing;
    content: "";
}

.note {
    margin-top: 1.5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color:  aliceblue;
    border-radius: 5px;
    margin-bottom: 1em;
}

.note .contents {
    padding: 10px;
    padding-left: 12px;
}

.note .title{
    font-size: 105%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 7px;
    padding-top: 2px;
    color: white;
    background: cornflowerblue;
}
  
.warning {
    margin-top: 1.5em;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    background-color:  #f1b3b1;
    border-radius: 5px;
    margin-bottom: 1em;
}
.warning .contents {
    padding: 10px;
    padding-left: 12px;
}
.warning .title{
    font-size: 105%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 7px;
    padding-top: 2px;
    color: white;
    background: crimson;
}

.definition {
    background-color: aliceblue;
    border-left: 5px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1em;
}

.important {
background-color: lemonchiffon;
padding: 0.5em;
margin-bottom: 1em;
}

.blank {
    height: 1.5em;
  }

.badges {
}

.badges img {
    border-radius: 0px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.schedule {
    overflow-x: scroll;
    position: relative;
}

ul.schedule-times,
ul.schedule-days
ul.schedule-events {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.schedule-times {
    margin: 0px auto 0;
    position: absolute;
}

.schedule-time {
    color: #222222;
    height: 40px;
    margin-top: 0;
    padding-top: 20px;
    position: relative;
    border-bottom: 1px solid #A2998B;
}

.schedule-time:last-child {
    border-bottom: 1px solid #A2998B;
}

.schedule-days {
    display: inline-flex;
    margin-bottom: 0;
    margin-left: 45px;
    margin-top: 0;
    position: relative;
    list-style-type: none;
}

.schedule-day {
    border-left: 1px solid #A2998B;
    flex: 1 0 0;
    margin: 0px 0px;
    min-width: 150px;
}

.schedule-day:last-child {
    border-right: 1px solid #A2998B;
}

h2.schedule-header {
    align-items: center;
    display: flex;
    font-size: 18px !important;
    height: 40px;
    justify-content: center;
    margin: 0;
    border-top: 1px solid #A2998B;
    border-bottom: 1px solid #A2998B;
}

.schedule-events {
    display: flex;
    padding: 0;
    position: relative;
}

.schedule-event {
    background-color: #222222;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), inset 0 -3px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    float: left;
    height: 100%;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    font-size: 0.9em;
}

.schedule-event .name {
    font-size: 1.1em;
    font-weight: bold;
}

.lecture {
    background-color: #B31B1B;
}

.office-hours {
    background-color: #073949;
}

